@import './reset.css';

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: local('Pretendard Regular'),
        url('../public/fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: local('Pretendard Medium'), url('../public/fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: local('Pretendard Bold'), url('../public/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: local('Pretendard Extra Bold'),
        url('../public/fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), url('../public/fonts/Roboto-Bold.woff2') format('woff2');
}

:root {
    font-family: 'Pretendard';
    line-height: 1.5;
    font-weight: 500;
    color-scheme: light;
    color: #000000;
    background-color: #212121;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    min-width: 1366px;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    overscroll-behavior: none;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    border-radius: 20px;
    border: none;
    padding: 0.3em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:focus,
button:focus-visible,
button:active {
    outline: none;
    border: none;
}
